@font-face {
    font-family: 'Norse-Bold';
    src: local('Norse-Bold'), url('/home/odinstudent/Downloads/Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100vh
}

.background-image {
    background-image: url('/images/viking-boat.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    flex: .93;
    margin: 0;
}

.odin-transparent-background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    background-color: rgba(0, 0, 0, 0.342);
    width: 34%;
    height: 150px;
}

.odin-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.odin-logo img {
    margin: 0px;
    height: 145px;
}

.odin-transparent-background h1 {
    font-family: 'Norse-Bold';
    font-weight: lighter;
    font-size: 6rem;
    color: white;
}

.background-image .credit {
    position: absolute;
    bottom: 5px;
    left: 200px;
    font-size: .9rem;
    color: white;
    text-align: center;
}

.credit a {
    color: white
}

.service_page {
    display: flex;
    flex-direction: column;
    flex: 1.8;
}

.service_page>div {
    width: 100%;
    flex: 1;
    margin: 0;
}

.introduction {
    font-weight: bolder;
    padding: 9em 7em .5em 2em;
    font-size: 20px;
}

.introduction p {
    width: 60%;
    font-size: 1.4rem;
    font-weight: 600;
}

.form {
    padding: .5em 1em;

}

.introduction,
.account-footer {
    background-color: rgb(243, 243, 243);
}