  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

  @font-face {
      font-family: 'Norse-Bold';
      src: local('Norse-Bold'), url('/home/odinstudent/Downloads/Norse-Bold.otf') format('opentype');
      font-weight: normal;
      font-style: normal;
  }

  :root {
      --color-login-text: #3F2305;
  }

  body {
      font-family: 'Roboto', sans-serif;
      margin: 0;
      padding: 0;
  }

  main {
      display: flex;
      min-height: 100vh;
  }

  .background-image {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-image: url('./viking-boat.jpg');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      flex: .93;
      margin: 0;
      min-width: 400px;
  }

  .odin-transparent-background {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.342);
      width: 100%;
      height: 13%;
  }

  .odin-logo {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .odin-logo img {
      margin: 0px;
      height: 100px;
  }

  .odin-transparent-background h1 {
      font-family: 'Norse-Bold';
      font-weight: lighter;
      font-size: 4rem;
      color: white;
  }

  .background-image .credit {
      font-size: .9rem;
      color: white;
      text-align: center;
  }

  .credit a {
      color: white
  }

  .service_page {
      display: flex;
      flex-direction: column;
      flex: 1.8;
  }

  .service_page>div {
      flex: 1;
      margin: 0;
  }

  .introduction {
      font-weight: bolder;
      padding: 4em 0em 0em 2em;
      font-size: 30px;
  }

  .introduction p {
      width: 70%;
      font-size: 1.4rem;
      font-weight: 600;
  }

  .form {
      padding: .2em 0 .2em 3em;
  }

  form {
      display: flex;
      flex-direction: column;
      gap: 25px;
      padding: 0 25px 25px 25px;
      font-size: .9rem;
  }

  .form-row {
      display: flex;
      flex-direction: row;
      gap: 100px;
      width: 60%;
  }

  .form-row div {
      display: flex;
      flex-direction: column;
  }

  label {
      letter-spacing: .08rem;
      font-size: .9rem;
  }

  input {
      appearance: none;
      border: 1px solid #E5E7EB;
      border-radius: 5%;
      font-size: 1.2rem;
  }

  input:focus {
      outline: none;
      border: 1px solid blue;
      box-shadow: 2px 2px 3px .1px rgb(175, 175, 175);
  }

  #phone-number::placeholder {
      font-size: .98rem;
  }

  #name-error-message,
  #password-error-message,
  #phone-number-error-message,
  #last-name-error-message {
      visibility: hidden;
      display: flex;
      flex-direction: row;
      align-items: center;
      color: red;
  }

  .material-symbols-outlined {
      font-variation-settings:
          'FILL' 0,
          'wght' 400,
          'GRAD' 0,
          'opsz' 20
  }

  .account-footer {
      padding: 1.75em 0em 1.75em 3em;
  }


  #create-account-button {
      border: none;
      font-weight: 700;
      font-size: 1.3rem;
      padding: 10px 40px;
      border-radius: 7.5%;
      background-color: #3F2305;
      color: whitesmoke;
      margin-bottom: .5em;
      box-shadow: 2px 4px 2px .1px rgb(175, 175, 175);
  }

  #log-in {
      text-decoration: none;
      color: var(--color-login-text);
      font-weight: bold;
  }

  .introduction,
  .account-footer {
      background-color: rgb(247, 247, 247);
  }